<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{'/user/'+${currentUser.id} + '/season/'+ ${currentSeason.id}+'/episode/create'}" th:object="${createdEpisode}" method="post" th:fragment="episodeForm" class="form">
    <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}"/>
    <label for="number" class="label_form">Which episode:</label>
    <input type="number" th:field="*{number}" placeholder="Episode's number" name="number" required min="1"/>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
    <label for="title" class="label_form">The episode's title:</label>
    <input type="text" th:field="*{title}" placeholder="Episode's title" name="title" required/>
    <input type="submit" value="Submit" class="button">
</form>
</body>
</html>