<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{'/user/'+${currentUser.id} + '/season/'+ ${currentSeason.id}+'/episode/create'}" th:object="${createdEpisode}" method="post" th:fragment="episodeForm" class="form">

    <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}"/>
    <input type="number" th:field="*{number}" placeholder="Numero de l'episode" required min="1"/>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
    <input type="text" th:field="*{title}" placeholder="Titre de l'episode" required/>

    <input type="submit" value="Valider">
</form>
</body>
</html>