<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#season-'+${season.id}" th:action="@{'/user/'+${currentUser.id}+'/serie/create'}" th:object="${createdSerie}" method="post" th:fragment="serieForm" class="form">
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
    <label for="title" class="label_form">The title:</label>
    <input id="title" type="text" th:field="*{title}" placeholder="Title" name="title" required/>
    <label for="url" class="label_form">URL of the serie's picture:</label>
    <input type="text" th:field="*{pictureURL}" placeholder="URL" name="url" required/>
    <input type="submit" value="Submit" class="button">
</form>
</body>
</html>