<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>404 HTML Template</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>4<span></span>4</h1>
			</div>
			<h2>Oops! Page introuvable</h2>
			<p>Désolé mais la page n'existe pas ou est indisponible pour le moment</p>
			<a href="./users">Retour à la liste d'utilisateurs</a>
		</div>
	</div>
</body>

</html>
