<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<body>
<ul th:fragment="episodeList" >
    <li th:each="episode : ${episodeList}" th:if="${episode.seasonId == season.id}" th:id="${episode.id}" style="display:flex;align-items:center;padding-top:3%;">
        <h3 th:text= "|E${episode.number} - ${episode.title}|"></h3>
        <a class="vu" th:href="@{'/user/'+${currentUser.id}+'/season/'+${episode.seasonId}+'/episode/'+${episode.id}+'#serie-'+${serie.id}}" >
        	<img th:src="@{${episode.seen}? '/open_eye.png': '/closed_eye.png'}" class="seenState">
        </a>
 	</li>
</ul>
</body>
</html>

