<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<body>

<ul th:fragment="seasonList">
    <li th:each="season : ${seasonList}" th:if="${season.serieId == serie.id}">
	    <div class="seasonStart">
	        <h3 th:text="|Season n° ${season.number}|"></h3>
	        <a th:href="@{'/user/'+${currentUser.id} +'/season/'+ ${season.id}+'/episode/create'}"><img src="https://www.icone-png.com/png/30/29948.png" style="display:flex; width:30%;"></a>
        </div>        
        <ul th:include="fragments/components/episodeList::episodeList"></ul>
    </li>
    <li>
    	<a th:href="@{'/user/'+${currentUser.id} +'/season/'+ ${serie.id}+'/create'}" class="addSeason">+</a>			        
    </li>
</ul>
</body>
</html>