<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<body>
    <nav th:fragment="userList">
        <div th:if="${currentUser.id!=0}">
            <img th:src="${currentUser.pictureUrl}"/><h3 th:text="${currentUser.userName}"></h3>
        </div>
        <ul>
            <li th:each="user : ${userList}" th:if="${currentUser.id!=user.id}">
                <a  th:href="@{'/user/'+${user.id}}"><img th:src="${user.pictureUrl}"/></a><h3 th:text="${user.userName}"></h3>
            </li>
        </ul>
    </nav>
</body>
</html>