<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<body>
    <nav th:fragment="userList" >
        <div id="currentUser">
        	<div th:if="${currentUser.id!=0}">
        	    <img th:src="${currentUser.pictureUrl}" class="logo_utilisateur"/>
                <img id	="userListIcon" src="/users.svg" onclick="onUserListClick()"/>
        	</div>
			<div th:if="${currentUser.id==0}">
			    <a href="/user/create">
        		<img class="logo_utilisateur" src="https://cdn3.vectorstock.com/i/1000x1000/66/32/man-icon-male-add-user-person-profile-avatar-plus-vector-21206632.jpg"/>
        		</a>
        		<img id	="userListIcon" src="/users.svg" onclick="onUserListClick()"/>
			</div>
            <div style="display:flex;">
              <h3 th:if="${currentUser.id!=0}" th:text="${currentUser.userName}"></h3>
        			<h7 th:if="${currentUser.id!=0}" th:text="@{'#'+ ${currentUser.id}}" class="hashtag"></h7>
     
            </div>
         </div>
        <ul id="userList"class='hide'>
        	
        	<li>
        	    <a href="/user/create">
        		<img class="logo_utilisateur" src="https://cdn3.vectorstock.com/i/1000x1000/66/32/man-icon-male-add-user-person-profile-avatar-plus-vector-21206632.jpg"/>
        		</a>
        	</li>
            <li th:each="user : ${userList}" th:if="${currentUser.id!=user.id}">
                <a  th:href="@{'/user/'+${user.id}}"><img class="logo_utilisateur" 	th:src="${user.pictureUrl}"/></a>
            <div style="display:flex;">
                <h3 th:text="${user.userName}"></h3>
            	<h8 th:text="@{'#'+ ${user.id}}" class="hashtag"></h8>
            </div>
            </li>
        </ul>
    </nav>
</body>
</html>