img {
    border-radius:100%;
    width:90px;
    height:90px;
    border: 2px solid #333333;
    object-fit: cover ;
}
ul{
	display: flex;
	text-align: center;
}
ul>li{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-item:center;
}