:root{
	--bg-color: #2b2a29;
	--surface-color: #252423;
	--hoversurface-color: #1e1c1c;
	--primary-color: #edea4c;
	--secondary-color: #f2ef49;
	--on-primary-color: white;
	--on-secondary-color: black;
	--sizeh1: 2em;
}
html{
	height:100%;
	font-family: 'Varela Round', sans-serif;
}
*{
	list-style:none;
	text-decoration:none;
}
body{
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
    height: 100%;
}
h1{
	font-size:2em;
}
h2{
	font-size:1.5em;
}
h3{
	width:100%;
	font-size:1.17em;
}
h4{
	font-size:1em;
}
h5{
	font-size:.83em;
}
h6{
	font-size:.67em;
}

.label_form{
	color:white;
}
.button{
	background-color:grey;
}


#presentation{
	width: 95%;
    display: flex;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 4em;
    padding: 35px 0 35px 0;
    margin-top: 2%;
    font-style: italic;
}



.addSeason{
	display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: grey;
    color: black;
    position: absolute;
    bottom: 0;
    height: 1.5em;
    width: 100%;
    align-items: center;
}

.hashtag{
	font-size: 2.5rem;    
	display: flex;
    align-items: center;
}

#en_tete h1{
	margin:0;
}
.hide{
	display: none 	!important;	
}
#en_tete
{
	padding: 0.2em;
	position:relative;
	display:flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--hoversurface-color);
	font-size: 3em;
	color:white;
}

#userList{
	display:flex;
	justify-content:flex-start;	
    overflow: scroll;
	width:100%;
}
#userList li{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	padding: 0 0.1em;
}
#en_tete #userListIcon{
	position: absolute;
    right: 0;
    top: 25%;
    width: 2em;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
}

#en_tete #currentUser	{
	width:3em;
	display: flex;
    flex-direction: column;
    align-items: center;
}

#en_tete h3{
	padding:0;
	margin:0;
	}
.logo_utilisateur
{
	border-radius: 50%;
	height: 3em;
    width: 3em;
    object-fit: cover;
}

.div_form{
	display:flex;
	align-items:center;
	justify-content:center;
}

.form{
	display:flex;
	justify-content:center;
	flex-direction: column;
	padding: 5px;
	font-size:3em;
	margin:auto;	
}

.form>input{
	font-size:1em;
	margin:2%;
}

.seasonStart{
	display:flex;
	justify-content:space-between;
	padding: 3px;
}
.seasonStart>a{
	display:flex;
	justify-content: flex-end;
}
#content
{
	padding: 0 2em;
	align-items: center;
	justify-content: center;
	    overflow: scroll;
}
#slider_serie
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 600px;
	
}

.cadre_nom_serie
{
	display: flex;
	flex-direction: column;
	margin-top: 90px;
	align-items: center;
	background-color: var(--surface-color);
	margin: auto;
	font-size:4em;
	padding: 0.2em 0;
    font-weight: bold;
}

.paragraphe_cadre
{
	font-size: 3em;
}

#bouton_ajout
{
	display: flex;
	justify-content: center;

	font-size: 3em;
	background-color: var(--surface-color);
	color: white;
	width: 100%;
}

.img_slider{
	display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 30rem;
    
}

.season>ul{
	display:none;
}

.cadreSerie{
	justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cadre_nom_season{
	padding: 30px;
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
}

.cadre_nom_season a{
	min-width: 30%;
	padding:10px 0px;
    font-size: 3rem;
    align-self: center;
    text-align: center;
}
.cadre_nom_season a.selected{
	background-color:var(--primary-color);
	
}

.cadre_nom_episode
{
	background-color: var(--surface-color);
    margin: auto;
    height: 600px;
    display: flex;
    font-size: 4em;
    overflow: scroll;
    position: relative;
    flex-direction: column;
    padding-bottom: 1em;
}

.nom_episode
{
	font-size: 3em;
	list-style: none;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}    

.nom_episode input
{
	height:2em;
	width: 2em;

}

#image_serie_selectionnee
{
	display: none;
}

.addSerie{
    height: 3em;
    background-color: var(--surface-color);
    text-align:center;
    padding: 5px;
    margin-top:1%; 
}

html
{
	height:100%;
	background-color: var(--bg-color);
}

