
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head th:replace="fragments/main/head::head"> </head>

<body>

<nav th:include="fragments/components/userList::userList" id="en_tete"></nav>
<img src="logo.png" style="    width: 30%;
    display: flex;
    align-self: center;">
	<p id="presentation">
	Welcome to SerialSeries, the site that will allow you to continue to chain all series without ever having to ask you the famous question "Where am I?".
	</br>Once the profile is created, the system is simple, I finish an episode I inform the series, the season on my profile and the case is played.
	</br>You can also use SerialSeries when you are out of series to watch based on the profile of other users.
	</br>Other features are coming soon ...
	</p>
</body>
</html>