<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head th:replace="fragments/main/head::head"> </head>

<body>
<!--


<a href="/user/create">Add user</a>


<a th:href="@{'/user/'+${currentUser.id} +'/serie/create'}">Add serie</a>
<a th:href="@{'/user/'+${currentUser.id} +'/season/create'}">Add season</a>
-->
<nav th:include="fragments/components/userList::userList" id="en_tete"></nav>
<ul th:include="fragments/components/serieList::serieList"></ul>

<footer th:replace="fragments/main/footer::footer"> </footer>
</body>
</html>